Repository ENSTABretagneRobotics/oculus_ros2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        entry: mixed-line-ending --fix=lf
      - id: pretty-format-json
        entry: pretty-format-json --autofix --indent 2
      - id: trailing-whitespace
      - id: fix-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format -fallback-style=none -i
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$

  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes', '--ignore-words=.codespell_words']
        exclude: CHANGELOG.rst

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: /usr/bin/bash -c 'source /opt/ros/humble/setup.bash && env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck'
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: /usr/bin/bash -c 'source /opt/ros/humble/setup.bash && ament_cpplint --linelength=140 --filter=-whitespace/newline'
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: /usr/bin/bash -c 'source /opt/ros/humble/setup.bash && ament_lint_cmake'
        language: system
        files: CMakeLists\.txt$

White on back ground of conic view
  oculus_ros2/src/sonar_viewer.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Code cleaning
  .clang-format
  .clang-tidy
  oculus_ros2/CMakeLists.txt
  oculus_ros2/include/oculus_ros2/conversions.hpp
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/include/oculus_ros2/oculus_viewer_node.hpp
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/scripts/oculus_to_rosbag.py
  oculus_ros2/src/conversions.h
  oculus_ros2/src/jaouad_oculus_viewer_node.cpp
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/oculus_sonar_node.hpp
  oculus_ros2/src/oculus_viewer_node.cpp
  oculus_ros2/src/oculus_viewer_node.hpp
  oculus_ros2/src/sonar_viewer.cpp
  oculus_ros2/src/sonar_viewer.hpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Adding corpyrights
  CONTRIBUTING.md
  oculus_ros2/include/oculus_ros2/conversions.hpp
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/include/oculus_ros2/oculus_viewer_node.hpp
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/launch/default.launch.py
  oculus_ros2/launch/pings_only.launch.py
  oculus_ros2/scripts/display_oculus_file.py
  oculus_ros2/scripts/oculus_subscriber_to_image.py
  oculus_ros2/scripts/oculus_to_rosbag.py
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/oculus_viewer_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
  oculus_ros2/tests/python/config01.py
  oculus_ros2/tests/python/print_config.py
  oculus_ros2/tests/python/subscriber01.py
Due: clang-format, ament_cppcheck, ament_cpplint

WIP creating metapackage
  .gitmodules
  CONTRIBUTING.md
  README.md
  oculus_interfaces/package.xml
  oculus_ros2/CMakeLists.txt
  oculus_ros2/cfg/default.yaml
  oculus_ros2/scripts/oculus_subscriber_to_image.py
  oculus_ros2/scripts/oculus_to_rosbag.py
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_sonar/CMakeLists.txt
  oculus_sonar/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

WIP creating metapackage
  .gitmodules
Due: none

Handleling oculus_driver dependancy
  .gitmodules
Due: none

Handeling oculus_driver dependancy
  .gitmodules
  oculus_ros2/package.xml
Due: none

Handeling oculus_driver dependancy
  .gitmodules
Due: none

Handeling oculus_driver dependancy
  oculus_driver/CMakeLists.txt
  oculus_driver/package.xml
Due: ament_lint_cmake

Some cleaning
  oculus_driver/CMakeLists.txt
  oculus_driver/package.xml
  oculus_sonar/CMakeLists.txt
  oculus_sonar/package.xml
Due: ament_lint_cmake

Some cleaning
  oculus_ros2/cfg/default.yaml
  oculus_ros2/how_to_handle_oculus_driver_dependancy.md
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/launch/default.launch.py
  oculus_ros2/scripts/oculus_subscriber_to_image.py
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
  oculus_ros2/tests/tests_plan.md
Due: clang-format, ament_cppcheck, ament_cpplint

Some bug correction
  oculus_ros2/cfg/tmp.yaml
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/launch/default.launch.py
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Tmp fix of bug
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Some renaming
  oculus_ros2/cfg/default.yaml
  oculus_ros2/cfg/tmp.yaml
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/launch/default.launch.py
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

WIP handleling 16 bits data depth in image viewer
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Code cleaning
  .gitmodules
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/src/oculus_sonar_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

clang tidy cleaning
  .clang-format
  .clang-tidy
  oculus_ros2/cfg/default.yaml
  oculus_ros2/include/oculus_ros2/conversions.hpp
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/include/oculus_ros2/oculus_viewer_node.hpp
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/oculus_viewer_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

The Magic Number Hunt
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/src/oculus_sonar_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Refactoring parameter initialisation
  README.md
  oculus_interfaces/package.xml
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/package.xml
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
  oculus_sonar/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint

clang tidy cleaning
  .clang-format
  .clang-tidy
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/src/oculus_sonar_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Adding Jaouad cv::parallel_for_ optimization
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Adding opencv 4.2.0 requirement
  oculus_ros2/CMakeLists.txt
Due: ament_lint_cmake

Some code cleaning
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/src/sonar_viewer.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Removing submodule
  oculus_driver/CMakeLists.txt
  oculus_driver/package.xml
  oculus_ros2/scripts/oculus_to_rosbag.py
Due: ament_lint_cmake

Some code cleaning
  oculus_ros2/cfg/default.yaml
  oculus_ros2/cfg/tmp.yaml
Due: none

Some code cleaning
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/launch/default.launch.py
  oculus_ros2/scripts/display_oculus_file.py
  oculus_ros2/scripts/oculus_to_rosbag.py
  oculus_ros2/src/oculus_sonar_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

The magic numbers hunt continues
  oculus_ros2/cfg/default.yaml
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/launch/default.launch.py
  oculus_ros2/scripts/display_oculus_file.py
  oculus_ros2/scripts/oculus_subscriber_to_image.py
  oculus_ros2/scripts/oculus_to_rosbag.py
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Code cleaning
  oculus_ros2/CMakeLists.txt
  oculus_ros2/include/oculus_ros2/conversions.hpp
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/package.xml
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Code cleaning
  CONTRIBUTING.md
  README.md
  oculus_ros2/CMakeLists.txt
  oculus_ros2/include/oculus_ros2/conversions.hpp
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/include/oculus_ros2/oculus_viewer_node.hpp
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/launch/default.launch.py
  oculus_ros2/launch/pings_only.launch.py
  oculus_ros2/package.xml
  oculus_ros2/scripts/oculus_subscriber_to_image.py
  oculus_ros2/scripts/oculus_to_rosbag.py
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/oculus_viewer_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
  oculus_ros2/tests/python/print_config.py
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Code cleaning
  TODO
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/src/sonar_viewer.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Code cleaning
  oculus_ros2/scripts/display_oculus_file.py
Due: none

Fix communication with flag
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Various fixies and upgrades
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/oculus_viewer_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

FSM for run and overheating fix
  TODO
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/oculus_viewer_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Removing data_depth
  oculus_ros2/cfg/default.yaml
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/oculus_viewer_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Frequency default value fix
  .gitignore
  oculus_ros2/include/oculus_ros2/conversions.hpp
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/include/oculus_ros2/oculus_viewer_node.hpp
  oculus_ros2/include/oculus_ros2/sonar_viewer.hpp
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/oculus_viewer_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Removing gain_assist in high frequency
  .gitignore
  oculus_ros2/include/oculus_ros2/oculus_sonar_node.hpp
  oculus_ros2/src/oculus_sonar_node.cpp
  oculus_ros2/src/sonar_viewer.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Code cleaning
  oculus_ros2/src/oculus_sonar_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fiiling timestamp for temperature and pression in standby mode
  oculus_ros2/src/oculus_sonar_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint
